<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <section class="container">
      <%- include('partials/navbar.ejs') %>

      <article class="content">
        <h1>Página Inicial</h1>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sapiente velit aliquid
          saepe repellendus ratione mollitia voluptatem ducimus consequuntur! Ipsum nemo in quas
          incidunt autem dolore quisquam modi illo iusto.
        </p>
        <p>
          Modi ratione, ab iste quidem soluta tenetur velit alias repudiandae harum excepturi!
          Ratione minima voluptatum accusamus assumenda eveniet sint doloremque ex ipsam cum amet
          vel, obcaecati similique fuga cupiditate fugiat.
        </p>
        <p>
          Sequi laboriosam commodi reprehenderit provident earum repellendus inventore natus impedit
          veritatis. Non veniam maiores, cupiditate veritatis suscipit aspernatur. In dicta maxime
          ipsa consequuntur labore! Quis dolores exercitationem sed cum quisquam?
        </p>
      </article>
    </section>

    <%- include('partials/footer.ejs') %> 
    <%- include('partials/foot.ejs') %>
  </body>
</html>
